@import "vars";
@import "vendor/reset";

html{
    font-size: 62.5%;
}
body {
    background-color: #181818;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    font-size: 1.4rem;
    color: $white;
}
a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
*,
*:before,
*:after {
    box-sizing: border-box
}

/* Blocks */ 
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/page";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/search";
@import "blocks/subnav";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/work";
@import "blocks/tags";
