.modal{
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(black, .8);
    z-index: 1010; 
    align-items: center;
    padding: 1rem;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}
.modal__content{
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 8rem 8rem;
    background-color: #202020;
    border-radius: 5px;
    &--contact{
        padding-bottom: 2.5rem;
    }
}
.modal__close{
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: .5;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: transform .2s linear, opacity .2s linear;
    &:hover{
        transform: rotate(90deg);
        opacity: 1;
    }
}
.modal__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    color: #b2b2b2;
    font-size: 1.2rem;
    li{
        margin: 1rem, .5rem;
    }
    a{
        color: inherit;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}
