<div class="modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/cancel.svg" alt="Закрыть">
        </button>
        <form class="form" action="/" method="post">
            <div class="form__group form__group--mb">
                <input class="form__control" type="text" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--mb">
                <input class="form__control" type="email" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--mb">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
           
            <div class="form__footer">
                <div class="form__group form__group--mb">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">
                        Отправить
                    </button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:info@mywebsite.ru">mailto:info@mywebsite.ru</a>
            </li> 
            <li>
                 Телефон: <a href="tel:+94323285622">94323285622</a>
            </li>
        </ul>
       
        
    </div>
</div>